.verticle-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* Header Video Background */
#headerVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.navbar-custom .navbar-brand .logo,
.navbar-custom.top-nav-collapse .navbar-brand .logodark{
    max-height: 120px;
    background: #fff;
}